{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-packagejson", "prettier-plugin-tailwindcss"]
}
